@font-face {
  font-family: 'SpoqaHanSansNeo-Thin';
  src: url("../assets/fonts/SpoqaHanSansNeo-Thin.ttf") format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url("../assets/fonts/SpoqaHanSansNeo-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url("../assets/fonts/SpoqaHanSansNeo-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url("../assets/fonts/SpoqaHanSansNeo-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'SpoqaHanSansNeo-Bold';
  src: url("../assets/fonts/SpoqaHanSansNeo-Bold.ttf") format('truetype');
}